---
import PostCard from "../../components/PostCard.astro";
import Blog from "../../layouts/Blog.astro"
const posts = await Astro.glob("./**/*.md")
---

<Blog content={{ title: "Welcome to my blog!" }}>
    { posts.map((post) => <a href={post.url}>
        <div>
            <PostCard content={post.frontmatter} />

        </div>
    </a>) }
</Blog>