---
import Layout from "./Layout.astro"

const { content } = Astro.props;
---

<Layout title={content.title}>
    <main>
        <div class="markdown-content">
            <div class="background-gradient md-title w-full h-60 grid place-items-center">
                <PostCard content={content} />
            </div>
            <div class="lg:p-16 p-4 grid place-items-center">
                <div class="slot">
                    <slot />
                </div>
            </div>
        </div>
    </main>
</Layout>
<style>
    .md-title h1 {
        font-size: 2rem;

    }

    .slot {
        @apply lg: max-w-[50vw] max-w-80vw flex flex-col space-y-2 pt-6;
    }
</style>